{% for type, messages in app.flashes %}
<div class="alert alert-{{ type }}">
{{ messages | join('. ') }} {# Afficher le message qui dit que qu'un champ de l'iceberg a été modifié #}
</div>
{% endfor %}